@import "/imports/ui/stylesheets/variables/_all";
@import '/imports/ui/stylesheets/mixins/_indicators';

:root {
  --navbar-height: 3.9375rem; // TODO: Change to NavBar real height
  --actionsbar-height: 75px; // TODO: Change to ActionsBar real height
  --bars-padding: calc(var(--lg-padding-x) - .45rem); // -.45 so user-list and chat title is aligned with the presentation title
  --userlist-handle-width: 5px; // 5px so user-list and chat resize handle render as the same size
  --poll-pane-min-width: 20em;
  --panel-margin-left: 0.1em;
}

.teacher_ments{

  position: absolute;
  margin-left: 5px;
  top: 30%;

}


.glow {
  border-radius: 50%;
  
  :global(.animationsEnabled) & {
    animation: pulse 1s infinite ease-in;
  }

  :global(.animationsDisabled) & span {
    content: '';
    outline: none !important;
    background-clip: padding-box;
    box-shadow: 0 0 0 4px rgba(255,255,255,.5);
  }
}

.banner { 
  position: absolute;
  margin-left: 10px;
  left: 0;
  bottom: 0;
  margin-bottom: 5px;
  z-index: 10;
}

.student_ments{

  position: absolute;
  margin-left: 5px;
  top: 30%;

}

.mask {
  position:absolute;
  z-index:9000;
  width : 100%;
  height: 100%;
}

.mask_back {
  position:absolute;
  width : 100%;
  height: 100%;
  background: #000000;
  opacity: 0.3;
}

.plus_content{

  position:absolute;
  margin-left: 230px;
  bottom: 0;
  margin-bottom: 60px;
  //left: 50%;
  //top: 50%;
}

.help_btn{
  position:absolute;
  right: 0;
  margin-right: 105px;
  margin-top: 13px;
  z-index: 1;
}

.help_btn_mobile{

  position:absolute;
  right: 0;
  margin-right: 9px;
  margin-top: 55px;
  z-index: 1;
}

.leave_btn{
  
  position:absolute;
  right: 0;
  margin-right: 162px;
  margin-top: 13px;
  z-index: 1;
}

.leave_btn_mobile{
  
  position:absolute;
  right: 0;
  margin-right: 56px;
  margin-top: 55px;
  z-index: 1;
}

.setting{

  position:absolute;
  margin-right: 5px;
  right: 0;
  margin-top: 58px;
  //left: 50%;
  //top: 50%;
}

.setting_content{
  position:absolute;
  margin-top: 225px;
  margin-right: 175px;
  right: 0;
  color:rgb(255, 255, 255);
  text-align: right;

}


.quick_menu{
 // position:relative; 
  width:100%; 
  /*height:175px;*/ 
  margin:0; 
  text-align:center; 
  position:absolute;
  //margin-left: 240px;
  left: 47%;
  //top: 50%;
  bottom: 0;
  margin-bottom: 90px;
}
.quick_menu .quick_list{width:100%; margin:0 auto; /*padding:50px 0;*/ margin-top:15px;}
.quick_menu .quick_list > li{float:left; display:block; width:100%; height:70px; margin:0 15px;}
.quick_menu .quick_list > li:nth-child(6){margin-right:0 none;}
.quick_menu .quick_list > li > a{display:block; width:90px; height:90px; background:url('https://host/img/mic.png') 50% 50% no-repeat;}
.quick_menu .quick_list > li > a:hover{width:90px; height:90px;}

.quick_menu .quick_list > li > .qlist{display:block; width:90px; height:90px; background:url('https://host/img/mic.png') 50% 50% no-repeat;}

.quick_menu .quick_list > li:nth-child(2) > a{background-image:url('https://host/img/audio.png'); width:90px; height:90px;}
.quick_menu .quick_list > li:nth-child(3) > a{background-image:url('https://host/img/webcam.png'); width:90px; height:90px;}
.quick_menu .quick_list > li:nth-child(4) > a{background-image:url('https://host/img/screenshare.png'); width:90px; height:90px;}


.quick_menu .quick_list > li:nth-child(2) > .qlist{background-image:url('https://host/img/audio.png'); width:90px; height:90px;}
.quick_menu .quick_list > li:nth-child(3) > .qlist{background-image:url('https://host/img/webcam.png'); width:90px; height:90px;}
.quick_menu .quick_list > li:nth-child(4) > .qlist{background-image:url('https://host/img/screenshare.png'); width:90px; height:90px;}

.quick_menu .quick_list span{display:block; font-size:15px; line-height:30px; padding-top:30px; font-weight:600; color:rgb(255, 255, 255); width:500px; text-align:left; padding-left:95px;}





.quick_menu_mobile{
  // position:relative; 
   width:100%; 
   /*height:175px;*/ 
   margin:0; 
   text-align:center; 
   position:absolute;
   //margin-left: 240px;
   left: 10%;
   //top: 50%;
   bottom: 0;
   margin-bottom: 90px;
 }
 .quick_menu_mobile .quick_list{width:100%; margin:0 auto; /*padding:50px 0;*/ margin-top:15px;}
 .quick_menu_mobile .quick_list > li{float:left; display:block; width:100%; height:70px; margin:0 15px;}
 .quick_menu_mobile .quick_list > li:nth-child(6){margin-right:0 none;}
 .quick_menu_mobile .quick_list > li > a{display:block; width:90px; height:90px; background:url('https://host/img/mic.png') 50% 50% no-repeat;}
 .quick_menu_mobile .quick_list > li > a:hover{width:90px; height:90px;}
 
 .quick_menu_mobile .quick_list > li > .qlist{display:block; width:90px; height:90px; background:url('https://host/img/mic.png') 50% 50% no-repeat;}
 
 .quick_menu_mobile .quick_list > li:nth-child(2) > a{background-image:url('https://host/img/audio.png'); width:90px; height:90px;}
 .quick_menu_mobile .quick_list > li:nth-child(3) > a{background-image:url('https://host/img/webcam.png'); width:90px; height:90px;}
 .quick_menu_mobile .quick_list > li:nth-child(4) > a{background-image:url('https://host/img/screenshare.png'); width:90px; height:90px;}
 .quick_menu_mobile .quick_list > li:nth-child(5) > a{background-image:url('https://host/img/whiteboard.png'); width:90px; height:90px;}
 
 
 .quick_menu_mobile .quick_list > li:nth-child(2) > .qlist{background-image:url('https://host/img/audio.png'); width:90px; height:90px;}
 .quick_menu_mobile .quick_list > li:nth-child(3) > .qlist{background-image:url('https://host/img/webcam.png'); width:90px; height:90px;}
 .quick_menu_mobile .quick_list > li:nth-child(4) > .qlist{background-image:url('https://host/img/screenshare.png'); width:90px; height:90px;}
 .quick_menu_mobile .quick_list > li:nth-child(5) > .qlist{background-image:url('https://host/img/whiteboard.png'); width:90px; height:90px;}
 
 
 .quick_menu_mobile .quick_list span{display:block; font-size:15px; line-height:30px; padding-top:30px; font-weight:600; color:rgb(255, 255, 255); width:500px; text-align:left; padding-left:95px;}
 
 



















.allowMic{
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 50px;
  margin-top: 10px;

}

.allowCam{
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 385px;
  margin-top: 10px;
}


.whiteboard_btn {
  position: absolute;
  margin-right: 85px;
  right: 0;
  bottom: 0;
  margin-bottom: 63px;
  color: #FFFFFF;
  font-weight: 600;
  font-size: large;
  text-align: center;
}


.raisehand_btn {
  position: absolute;
  margin-right: 19px;
  right: 0;
  bottom: 0;
  margin-bottom: 63px;
  color: #FFFFFF;
  font-weight: 600;
  font-size: large;
  text-align: center;
}

.raisehand_btn_mobile {
  position: absolute;
  margin-right: 19px;
  right: 0;
  bottom: 0;
  margin-bottom: 63px;
  color: #FFFFFF;
  font-weight: 400;
  font-size: medium;
  text-align: center;
}

.p{
  margin: 0;
}

.close_btn {
  position:absolute;
  margin-top: 10px;
  left: 50%;
  color:rgb(255, 255, 255);
  text-align: center;

  //float: center;
}

.span_align{
  margin-top: 13px;
  margin-left: 10px;
  float: right;
}

.leave_coachmark_btn {
  position:absolute;
  margin-top: 10px;
  margin-right: 50px;
  right: 0%;
  color:rgb(255, 255, 255);
  text-align: center;
  vertical-align:middle;

  //float: center;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 white;
  }
  70% {
    box-shadow: 0 0 0 0.5625rem transparent;
  }
  100% {
    box-shadow: 0 0 0 0 transparent;
  }
}

.close_btn_mobile {
  position:absolute;
  margin-top: 10px;
  left: 30%;
  color:rgb(255, 255, 255);
  text-align: center;

  //float: center;

}

.mask_img {
  position:absolute;
  //margin-left: 240px;
  left: 50%;
  //top: 50%;
  
}

.hideDropdownButton {
  @include mq($small-only) {
    display:none;
  }
}

.window {
  display: none;
  position:absolute;
  left:100px;
  top:100px;
  z-index:10000;


}

.main {
  @extend %flex-column;
  position: relative;
  height: 100%;
  
  
}

.main_background {
  @extend %flex-column;
  position: relative;
  height: 100%;
  background-color: #000000;
  
}

.main_mask {
  @extend %flex-column;
  position: relative;
  height: 100%;
  opacity: 0.8;
}

.navbar {
  position: relative;
  text-align: center;
  font-size: 1.5rem;
  padding: var(--bars-padding) var(--bars-padding) 0 var(--bars-padding);
  height: 7rem;
}

.wrapper {
  @extend %flex-column;
  position: relative;
  flex: 1;
  overflow: hidden;

  @include mq($medium-up) {
    flex-flow: row;
  }
}

.wrapper_mask {
  @extend %flex-column;
  position: relative;
  flex: 1;
  overflow: hidden;

  @include mq($medium-up) {
    flex-flow: row;
  }

  opacity: 0.5;
}

%full-page {
  position: absolute;
  display: flex;
  flex-flow: column;
  overflow-y: auto;
  overflow-x: hidden;

  @include mq($small-only) {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  @include mq($medium-up) {
    position: relative;
  }
}

.content, .noPanelContent {
  @extend %full-page;
  order: 3;

  &:before,
  &:after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 50%;
    opacity: 0;
    pointer-events: none;

    :global(.animationsEnabled) & {
      transition: opacity .3s;
    }
  }

  &:before {
    top: 0;
  }

  &:after {
    bottom: 0;
  }

  @include mq($medium-up) {
    flex: 5;
    order: 2;
  }
}

.content{
  margin:0 0 0 var(--panel-margin-left);

  [dir="rtl"] & {
    margin:0 var(--panel-margin-left) 0 0;
  }
}

.userList {
  @extend %full-page;
  @extend %text-elipsis;
  @extend %highContrastOutline;
  outline-style: solid;
  z-index: 5;
  overflow: visible;
  order: 1;

  @include mq($small-only) {
    top: var(--navbar-height);
  }

  @include mq($medium-up) {
    flex: 0 15vw;
    order: 1;
    height: 100%;
  }

  @include mq($xlarge-up) {
    flex-basis: 10vw;
    height: 100%;
  }
}

.userlistPad {
  background-color: var(--color-off-white);
  width: var(--userlist-handle-width);
}

.compact {
  flex-basis: 4.6rem;
}

.poll,
.breakoutRoom,
.note,
.captions,
.chat {
  @extend %full-page;
  @extend %highContrastOutline;
  outline-style: solid;
  order: 2;
  height: 100%;
  @include mq($small-only) {
    z-index: 5;
    height: auto;
    top: var(--navbar-height);
    overflow: visible;
  }

  @include mq($medium-up) {
    // flex: 0 25vw;
    order: 1;
  }

  @include mq($xlarge-up) {
    // flex-basis: 20vw;
  }
}

.poll {
  background-color: var(--color-white);
  min-width: var(--poll-pane-min-width);
  padding: 1rem;

  @include mq($small-only) {
    overflow: auto;
  }
}

.breakoutRoom {
  height: 100%;
  // width: 20vw;
  background-color: var(--color-white);
  @include mq($small-only) {
    // width: auto;
    height: auto;
  }
}

.sidebar {
  @extend %full-page;
  z-index: 4;

  @include mq($medium-up) {
    flex: 0 15vw;
    order: 2;
  }
}

.media {
  @extend %full-page;
  flex: 1 100%;
  order: 2;
  flex-direction: row;
  position: relative;
  margin: 0 0 0 var(--panel-margin-right);
  overflow: hidden;
  z-index: 0;

  [dir="rtl"] & {
    margin: 0 var(--panel-margin-right) 0 0;
  }

  @include mq($portrait) {
    flex-direction: column;
  }
}

.captionsWrapper {
  position: absolute;
  width: auto;
  height: auto;
  bottom: 100px;
  left: 20%;
  z-index: 2;
}

.actionsbar {
  flex: 1;
  padding: var(--bars-padding);
  position: relative;
  order: 3;
}
